.instructions {
    width: 80%;
    margin: auto;
    text-align: center;
}

.instructions-needed {
    margin-bottom: 10px;
}

.instructions-card {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    width: 70%;
    margin: 4% auto;
    padding: 3% 7%;
}

.instructions-steps {
    text-align: left;
}

.instructions-step {
    text-align: left;
}

.lds-dual-ring {
    box-sizing: border-box;
    width: 64px;
    height: 64px;
    border: 8px solid black;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: black transparent transparent transparent;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
