.instructions {
    width: 80%;
    margin: auto;
    text-align: center;
}

.instructions-needed {
    margin-bottom: 10px;
}

.instructions-card {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    width: 70%;
    margin: 4% auto;
    padding: 3% 7%;
}

.instructions-steps {
    text-align: left;
}

.instructions-step {
    text-align: left;
}
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: auto;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
