.recipe {
  margin: 30px 30px 30px 30px;
  display: flex;
  justify-content: center;
  align-items: space-around;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: 100px;
}
.jumbotron {
  margin-top: 0;
  padding: 0;
}
.title {
  font-family: 'Oswald';
  color: #285B52;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.recipe-title {
  color:#fff;
  font-size: 22px;
  white-space: nowrap; 
  max-width: 328px;
  overflow: hidden;
  text-overflow: ellipsis; 
  text-align: center;
  font-family: 'Oswald';
  text-transform: uppercase;
  background-color: #285B52;
  height: 2rem;
}

.recipe-img {
  border: 8px solid #285B52;
}

.recipe-instructions {
  display: flex;
  justify-content: center;
  background: transparent;
  color: white;
  border: none;
  font-size: 45px;
  padding-bottom: 10px;
}

.recipe-instructions:hover {
  transition: all 0.3s ease-out;
  font-size: 50px;
  color: #217947;
  transition: 250ms;
}

.search-bar {
  border-radius: 5px;
  width: 55%;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #59B49B;
  border: 2px solid #285B52;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid black;
  border-color: black transparent black transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
