body {
    font-size: 20px;
    text-align: center;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Full-width input fields */
input[type=Login] {
    display: none;
}

.Login {
    display: none;
}

/* Full-width input fields */
input[type=Register] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-system {
    background-color: #EA4630;
    color: whitesmoke;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0,
    0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-system:hover {
    background: #fa543e;
}

.login-container {
    padding: 16px;
}

span.login-register {
    float: right;
    padding-top: 12px;
    text-decoration: #EA4630;
}

.login-registerbtn {
    float: right;
    padding-left: 10px;
    font-size: 20px;
    color: #fa543e;
    background: none;
    outline: none;
    border: none;
    text-decoration: underline;
}

.login-registerbtn:hover {
    text-decoration: none;
}

/* The Modal (background) */
.login-modal {
    display: inline-block; /* Shown by default */
    position: center; /* Stay in place */
    text-align: left;
    z-index: 1; /* Sit on top */
    top: 0;
    width: 70%; /* Full width */
    height: 70%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    padding-top: 30px;
}

.forgotpass {
    background-color: #EA4630;
    color: whitesmoke;
    padding: 7px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0,
    0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.forgotpass:hover {
    background: #fa543e;
}

.login-Oauth {
    background-color: #146B3A;
    color:whitesmoke;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0,
    0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-Oauth:hover {
    background-color: #217947;
}

.login-text {
    display: flex;
    font-size: 20px;
}
.login-text:before, h1:after {
    color: white;
    content: '';
    flex: 1;
    border-bottom: groove 2px;
    margin: auto 0.25em;
    box-shadow: 0 -1px ;
}
.hide {
    display: none;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 1060px) {
    span.login-register {
        display: block;
        float: left;
    }
    .login-registerbtn {
        display: block;
        float: right;
    }
    .login-system {
        display: table;
    }
    .forgotpass {
        display: block;
        width: 150px;
    }
    .login-register {
        font-size: 16px;
    }
    .login-registerbtn {
        font-size: 16px;
    }
    .login-text {
        margin-top: 20px;
    }
}